@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix {
  content: "";
  display: block;
  clear: both;
}

.q2__boxWrapper {
  background: #eff3f4;
  margin: auto;
  padding: 20px;
  width: 940px;
}

.q2__box {
  font-size: 18px;
  line-height: 22px;
}

.q2__box:last-child {
  margin-top: 5px;
}

.q2__boxImgLeft {
  float: left;
  margin-bottom: 10px;
  margin-right: 20px;
}

.q2__boxImgRight {
  float: right;
  margin-bottom: 10px;
  margin-left: 20px;
}
/* 回答はここに書いてね */
