@charset "UTF-8";

/* 回答はここに書いてね */

.q3_table {
  border: solid #dedede 1px; /* 外枠 */
  text-align: center;
  width: 100%;
}

.q3_table th {
  background: #24a;
  border: solid #dedede 1px;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  padding: 10px;
  vertical-align: middle;
}

.q3_table td {
  border: solid #dedede 1px;
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
  vertical-align: middle;
}

tr:nth-child(odd) {
  background: #ecf1f2;
}

tr:last-child {
  border-top: dashed #000 2px;
}

/* 回答はここに書いてね */
